@font-face {
    font-family: 'Nimbus';
    src: url('../assets/fonts/NimbusSanL-Reg.woff2') format('woff2'),
         url('../assets/fonts/NimbusSanL-Reg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    font-family: Nimbus, sans-serif;
    font-size: 17px;
    line-height: 1.5;
    color: #c8d6dd;
    background-color: #161b22;
    margin-left: 25px;
    margin-top: 25px;
}
  
#poweredByStrava {
    position: absolute;
    bottom: 1px;
    right: 0px;
    width: 200px;
    padding: 15px;
    line-height: 0.5;
    text-align: right;
}
#poweredByStrava * {
    width: 175px;
    opacity: 0.08;
    font-size: 10.4px;
}


#connectButton {
    padding: 0px;
    margin: 0px;
    outline-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
}
b {
    color: #ecf2f8;
}
#go {
    margin-top: 10px;
    padding: 5px 8px 7px 8px;
    background-color:  #28313e;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
}

#go:active {
    background-color: #ecf2f8;
    color:  #28313e;
}
#go:active * {
    background-color: #ecf2f8;
    color:  #28313e;
}
select {
    background-color:  #28313e;
    color: #ecf2f8;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    padding: 1px;
    padding-left: 3px;
}
#profilePicture {
    width: 48px;
    height: 48px;
    border-radius: 12px;
    display: inline-block;
}
 #userText {
    display: inline-block;
    vertical-align: top;
    padding-left: 4px;
    padding-top: 2px;
    font-size: 16px;
    line-height: 1.3;
}
#nameTagline {
    font-weight: bold;
}
#stats {
    line-height: 1.05;
    padding-left: 1px;
    font-size: 14px;
}
td {
    padding-right: 30px;
}
[id*="statLabel"] {
    font-weight: bold;
    transform: scale(1, 0.95);
}
[id*="statNumber"] {
    transform: scale(1, 0.95);
}
#accountInfo {
    opacity: 0.7
}
#output {
    transform: scale(1.4, 1.4);
    top: 40px;
    left: 90px;
    margin-top: 25px;
    display: inline-block;
    padding: 8px;
    border-radius: 15px;
    border: 2px solid #1f2328;
    position: relative;
    min-width: 360px;
    background-color: #ffffff;
}
#output * {
    color: #1f2328;
}
#stravaWatermark {
    opacity: 0.08;
    position: absolute;
    width: 110px;
    right: -2px;
    top: 5px;
}
#myWatermark {
    opacity: 0.06;
    position: absolute;
    right: 12px;
    bottom: 12px;
    font-weight: bold;
    font-size: 12px;
}
.subtitle {
    font-size: 11.5px;
    opacity: 0.5;
    font-weight: 600;
}


.hidden {
    display: none;
  }
input {
    background-color: #28313e;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #fff;
    padding: 1px 1px 2px 3px;
}

#profileFlag {
    position: absolute;
    width: 18px;
    left: 42px;
    top: 42px;
}